*{
  margin :0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,body{
  height: 100%;
  width: 100%;
}

.card{
  margin: 10px;
  background-color: rgb(158, 39, 59);
  font-size: 20px;
  border-radius: 5px;
  padding: 7px;
}

.nav{
  margin: 10px;
  background-color: rgb(60, 99, 237);
  font-size: 20px;
  border-radius: 5px;
  padding: 7px;
}